<div class="mt-4">
    <h2>Documentación</h2>
    <p>
        <a href="https://ionicframework.com/docs" target="_blank" class="btn btn-primary">
        Ver Documentación de Ionic
        </a>
    </p>

    <div id="carouselExample" class="carousel slide mt-3" data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4"></button>
    </div>

        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/nodejs.png" class="d-block w-100" alt="NodeJS">
        </div>
        <div class="carousel-item">
            <img src="assets/typescript.png" class="d-block w-100" alt="TypeScript">
        </div>
        <div class="carousel-item">
            <img src="assets/angular.png" class="d-block w-100" alt="Angular">
        </div>
        <div class="carousel-item">
            <img src="assets/ionic.png" class="d-block w-100" alt="Ionic">
        </div>
        <div class="carousel-item">
            <img src="assets/npm.png" class="d-block w-100" alt="NPM">
        </div>
        </div>
    </div>


</div>
